body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 240px;
    height: 216px;
}

.one {
    background-color: #003049;
}

.two {
    background-color: #940c0c;
}

.three {
    background-color: #d2d5a4;
}

.four {
    background-color: #003049;
}

.five {
    background-color: #400b32;
}

.six {
    background-color: #232632;
}